<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <!--<%= stylesheet_link_tag 'mobile' if mobile_device? %> -->
    <%= yield(:head) %>
  </head>
  <body class="jumbotron">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="logo">smsMyStatus</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">PNR status</a>
            </li>
            <li>
              <a href="#">COURIER Status</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
  <div class='container'>
  <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>  
  </body>
</html>
